.container
  .row
    .col-md-offset-2.col-md-8
      Create New Event

      = simple_form_for(@event, html: { class: 'form-horizontal' }) do |f|
        = f.input :title
        = f.input :location
        = f.input :description
        = f.input :date
        = f.hidden_field :user_id, :value => current_user.id
        = f.button :submit

