.container
  .row  
    .col-md-12
      %section
        %ul.timeline
          - @events.each do |event|
            %li
              %a{href:event_path(event)}
                %time.time{ datetime: event.date}
                  %span= event.date.strftime("%b %d")
                  %span= event.date.year
                .event_icon
                .event_body
                  %span= event.location
                  %h2= event.title 
                  %p= truncate(event.description, length: 400)
