!!!
%html(lang='en')
  %head
    %title Hundred Best Days
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  %body
    %nav.navbar.navbar-default.navbar-static-top{ role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle
          %a.navbar-brand{ href: "#"} 100 Best Days
        .collapse.navbar-collapse
          - if current_user
            %ul.nav.navbar-nav
              %li
                = link_to "Timeline", timeline_path
              %li.avatar
                = image_tag(current_user.image)
              %li.navbar-text
                %strong= current_user.name
            %p.navbar-text.navbar-right
              = link_to "Sign out", signout_path, id: "sign_out"
        
    = yield
